/.vscode
/target
/deps/ffmpeg
/deps/x264
/deps/dist*
/deps/nv-codec-headers
/deps/libva
c_helper/target
c_helper/Cargo.lock
*.js
*.js.map
*.tar.gz
# Vendored third party bundle, embedded into the binary via include_str!.
!www/static/m3e.js

# Local backups and tooling
/src_backup/
/www_backup/
/.codebuddy/
